* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

header {
  background-color: blue;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__list {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
}

.nav__link {
  color: #fff;
  text-decoration: none;
}

.nav__logo {
  font-size: 1.8rem;
  font-weight: 300;
  color: #fff;
}